@font-face {
  font-family: NotoSans;
  font-style: normal;
  font-weight: 300;
  src: url('fonts/NotoSansKR-Light.otf') format('OpenType');
}

@font-face {
  font-family: NotoSans;
  font-style: normal;
  font-weight: 400;
  src: url('fonts/NotoSansKR-Regular.otf') format('OpenType');
}

@font-face {
  font-family: NotoSans;
  font-style: normal;
  font-weight: 700;
  src: url('fonts/NotoSansKR-Bold.otf') format('OpenType');
}

@font-face {
  font-family: NotoSans;
  font-style: normal;
  font-weight: 800;
  src: url('fonts/NotoSansKR-Black.otf') format('OpenType');
}

@font-face {
  font-family: Angmuburi;
  font-style: normal;
  font-weight: 400;
  src: url('fonts/116angmuburi.otf') format('OpenType');
}
